* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #0fc3ec, #fff);
  padding: 10px;
}

.todo-app {
  width: 100%;
  max-width: 540px;
  background: #fff;
  border-radius: 10px;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.todo-app h2 {
  color: #002765;
  display: flex;
  align-items: center;
  font-size: 38px;
}

.todo-app h2 img {
  width: 45px;
  padding-left: 10px;
}

p {
  margin: 1px 0px 24px 3px;
  font-weight: 100;
  font-size: 10px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #efeef0;
  padding-left: 20px;
  border-radius: 30px;
  margin-bottom: 25px;
}

input {
  flex: 1;
  outline: none;
  border: none;
  background: transparent;
  padding: 10px;
}

button {
  padding: 16px 50px;
  outline: none;
  border: none;
  background: #ff5945;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  border-radius: 40px;
}

ul li {
  /* list-style: none; */
  /* font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative; */
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center; /* Align items vertically in the center */
  justify-content: space-between; /* Space out the content */
}

ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 17px;
  left: 8px;
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
}

ul li.checked::before {
  background-image: url(images/checked.png);
}

ul li span {
  position: relative;
  margin-left: 10px; /* Add margin for spacing */
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

ul li input[type="time"] {
  margin-left: 10px; /* Add margin to separate it from the text */
  border: none;
  background: transparent;
  padding: 5px; /* Adjust padding as needed */
  margin-right: 10px;
}

ul li span:hover {
  background: #edeef0;
  border-radius: 50%;
}

@media (max-width: 600px) {
  button {
    padding: 16px 20px;
  }
  .todo-app h2 {
    font-size: 28px;
  }
}
